.App {
  text-align: center;
  color:black;
}

@font-face {
  font-family: 'fl-bigmug-line';
  src: local('fl-bigmug-line'), url(./fonts/fl-bigmug-line.ttf) format('truetype');
}

@font-face {
  font-family: 'lg';
  src: local('lg'), url(./fonts/lg.woff) format('woff');
}

@font-face {
  font-family: 'material-design';
  src: local('material-design'), url(./fonts/material-design.woff) format('woff');
}

@font-face {
  font-family: 'materialdesignicons-webfont';
  src: local('materialdesignicons-webfont'), url(./fonts/materialdesignicons-webfont.woff) format('woff');
}

@font-face {
  font-family: 'MaterialIcons-Regular';
  src: local('MaterialIcons-Regular'), url(./fonts/MaterialIcons-Regular.woff) format('woff');
}

article, section{
  color: black;
  h1{
    font-size: 2em;
  }
}

a{
  text-decoration: none;}

nav{
  background-color: rgb(11, 11, 90);
  padding: 0.5%;
  display: flex;
  justify-content: space-between;

  .links{
   display: flex;
   gap: 2em;
   li{
    list-style-type: none;
    padding:1em;
    a{
    text-decoration: none; 
    color: white;
    
    }
    &:hover{
      background-color: rgba(255, 255, 255, 0.397);
    }
   }
  }

  .icons{
    display: flex;
    gap: 1em;
    li{
      list-style-type: none;
      padding:1em;
      color: white;
    }
  }
}

.slide{
  height: 80vh;
  color: white;
}

.text{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 2em;
  
h2{
  margin: 0;
  text-transform: uppercase;
  font-size: 1em;
}

  p{
    font-size: 3em;
    margin: 0;
  }
}

.frontFigure{
  position: relative;
  top: -5em;
  img{
    margin: 0 1em;
    width: 20%;
  }
}






